    html {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #FEFEFE;
        color: #4E4E4E;
        font-size: .85em;
        font-family: Calibri, Verdana, Helvetica, Sans-Serif;
        margin: 0;
        padding: 0;
        height:auto; 
    }

    header {

    }

    #InvoiceTable {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        margin-top: 1cm; 
    }


    #MainContent {
        background-color: #F8F8F8;
        padding: 5px 5px 20px 5px;
        border: 1px solid #D8D8D8;
        /*border-top:none;*/
        margin-top:-7px;
    }

    .InvoiceGrid {
     width:780px;
     margin-left:auto; 
     margin-right:auto; 
     border:none;
     background-color:#FEFEFE;
 
    }

    /*.InvoiceGrid tr, td, th {
     border: 1px solid #D8D8D8;
    
    }*/

    /*#InvoiceGridView tr{
        border: 1px solid #D8D8D8;
    }

     #InvoiceGridView td{
        border: 1px solid #D8D8D8;
    }

      #InvoiceGridView th{
        border: 1px solid #D8D8D8;
    }*/
 /*menu
----------------------------------------------------------*/
nav {
}

ul#menu {
    font-size: 1.1em;
    font-weight: 400; 
    padding: 0;
    text-align: left;
    color:#4E4E4E;
    
}

    ul#menu li {
        display: inline;
        list-style: none;
        background-color:#F8F8F8;
        border-top-left-radius:5px; 
        border-top-right-radius:5px;
        border: solid 1px #D8D8D8;
        border-bottom:none;
       padding: 8px;
       /*background-color:  #F8F8F8;*/
    }

        ul#menu li a {
        text-decoration: none;
         
        }

        ul#menu li a:hover, ul#menu li a:active, ul#menu li a:visited{
            text-decoration: none;
        }
            ul#menu li a:after {
            /*color: #999;*/ 
            }

    button {
        width: 20px; 
    }

    input, select, textarea {
        border: solid 1px #D8D8D8;
    }

th {
   font-weight:normal;
   
}
#CreateInvoice {


}






