<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnection"
          connectionString="Data Source=ANNIDESHAR;Initial Catalog=InvoiceApplication;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
  
</configuration>